<!-- Taken from CS50 Finance Project -->
<!-- Login Page -->
{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<!-- Login Form -->
<form action="/login" method="post">
  <!-- Username Input -->
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <!-- Password Input -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <!-- Log In Button -->
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
{% endblock %}
