<!-- Taken from CS50 Finance Project -->
<!-- Registration Page -->
{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<!-- Registration Form -->
<form action="/register" method="post">
  <!-- Username Input -->
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <!-- Password Input -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <!-- Password Confirmation Input -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      id="password"
      name="confirmation"
      placeholder="Password Confirmation"
      type="password"
    />
  </div>
  <!-- Register Button -->
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
